$btn_green: #52965e;
$btn_dark: #140706;
$btn_darker: #262626;
$bg: rgb(247, 247, 247);
$text: #1e1e1e;
$orange: #d71e0e;
$error: #ef4444;
$light_orange: #e55541;
$grey: rgba(172, 172, 172, 0.658);
$grey_lines: rgba(236, 236, 236, 0.856);
$light_grey: rgba(238, 238, 238, 0.555);
