@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
@mixin position(
  $position: absolute,
  $top: unset,
  $right: unset,
  $bottom: unset,
  $left: unset
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
