@import './colors';
@import './mixin';

$margin: 6px;
.dashboard {
  min-width: 1000px;
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    height: 5px;
    background: rgba(189, 189, 189, 0.795);
    border-radius: 15px;
  }

  * {
    font-size: 0.9rem;
    font-weight: 500;
  }
  h3 {
    padding: 10px 13px;
    white-space: nowrap;
  }
  table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
    tr {
      border-bottom: 1px solid $grey_lines;
      td,
      th {
        font-size: 0.85rem;
        white-space: nowrap;
        text-align: start;
        padding: 7px 5px 7px 0;
        height: 45px;

        &:first-child {
          padding-left: 15px;
        }
      }
    }
    thead {
      background-color: #fff;
      position: sticky;
      top: 0;
      tr {
        margin: 2px 0;
        th {
          font-size: 0.8rem;
          color: grey;
          height: 45px;
        }
      }
    }
    tbody {
      tr {
        &:first-child {
          background-color: unset;
        }
        td {
          &:last-child {
            @include flex($justify: space-between);

            button {
              border: 1px solid;
              padding: 5px 15px;
              margin-right: 20%;
              border-radius: 2px;
            }
          }
        }
      }
    }
  }
}
header.dashboard {
  background-color: #fff;
  justify-content: unset;
  height: 60px;
  border-bottom: 1px solid $grey_lines;
  margin-bottom: $margin;
  .one,
  .two {
    border-right: 1px solid $grey_lines;
    @include flex($justify: space-between, $align: unset);
  }
  .one,
  .two,
  .three {
    height: 100%;
    padding: 10px 30px 10px 10px;
  }
  .img-box {
    @include flex;
  }
  .one {
    width: 50%;
    .img-box {
      img {
        width: 100px;
      }
    }
    .mode {
      height: fit-content;
      @include flex($justify: space-between);
      background-color: $grey_lines;
      padding: 4px 8px;
      border-radius: 18px;
      span {
        padding-right: 5px;
      }
      .img-box {
        height: 30px;
        width: 30px;
        background-color: #fff;
        border-radius: 50%;
        svg {
          width: 20px;
        }
      }
    }
  }
  .two {
    width: 35%;
    ul {
      @include flex;
      li {
        padding: 0 14px;
        span {
          display: block;
          white-space: nowrap;
          &.text3 {
            padding-bottom: 5px;
            color: grey;
            font-size: 0.7rem;
          }
          &:last-child {
            font-weight: 700;
          }
        }
      }
    }
  }
  .three {
    @include flex($justify: flex-end);
    width: 15%;
    button {
      padding: 4px 5px;
      margin-right: 10px;
    }
  }
}
footer.dashboard {
  justify-content: unset;
  background-color: #fff;
  ul {
    width: 100%;
    @include flex($justify: space-evenly);
  }
  position: sticky;
  bottom: 0;
}

main.dashboard {
  height: calc(100vh - 104px);
  margin: 0;
  display: flex;
  div {
    width: fit-content;
  }
  .one1 {
    width: 7%;
    background-color: #fff;
    margin-right: $margin;
    padding-top: 40px;

    li {
      padding: 10px 0 15px;
      button {
        @include flex;
        margin: auto;
        position: relative;
        svg {
          height: 30px;
        }
      }
      span {
        display: block;
        font-size: 0.7rem;
        text-align: center;
      }

      &:first-child {
        svg {
          @include position($position: relative, $left: -20%);
        }
      }
      &:nth-child(5),
      &:nth-child(5) {
        button {
          margin-bottom: 2px;
        }
      }
    }
  }
  .two1 {
    width: 20%;
    background-color: #fff;
    .input-box {
      padding: 0 5px;
      input {
        border: 1px solid $grey;
        background-color: $light_grey;
        padding: 4px;
      }
    }
    ul {
      padding-left: 20px;
      li {
        margin: 7px 0;
        padding: 10px 0;
        button {
          width: 100%;
          text-align: start;
          @include flex($justify: flex-start);
          svg {
            height: 17px;
            margin-right: 7px;
          }
          span {
            font-size: 0.8rem;
          }
        }
        &:nth-child(4) {
          button {
            position: relative;
            svg:nth-child(2) {
              @include position($left: 3.5%);
            }
          }
        }
      }
    }
  }
  .three1 {
    width: -webkit-fill-available;
    margin: 0 $margin 0 $margin;
    .one2 {
      background-color: #fff;
      width: 100%;
      margin-bottom: $margin;
      padding: 10px;
      .one3,
      .two3 {
        padding: 3px 0;
      }
      .one3,
      .two3,
      ul {
        @include flex($justify: flex-start);
      }
      h3 {
        width: 93px;
        text-align: end;
      }
      ul {
        li {
          white-space: nowrap;
          background-color: $grey_lines;
          border-radius: 15px;
          padding: 6px 9px;
          margin-right: 8px;

          &:first-child {
            background-color: $orange;
            color: #fff;
          }
        }
      }
    }
    .two2 {
      width: 100%;
      .one5,
      .two5,
      .two4 {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
      }
      .one4 {
        @include flex($justify: space-between, $align: flex-start);
        height: 250px;
        width: 100%;
        margin-bottom: $margin;

        .one5 {
          margin-right: $margin;
          table {
            tbody {
              tr {
                td {
                  span,
                  button {
                    color: $btn_green;
                  }
                }
                &:first-child {
                  background-color: $light_grey;
                }
              }
            }
          }
        }
        .two5 {
          table {
            tbody {
              tr {
                td {
                  span,
                  button {
                    color: $light_orange;
                  }
                }
              }
            }
          }
        }
      }
      .two4 {
        height: calc(100vh - 471px);
        width: 100%;
        overflow-y: scroll;
        table {
          width: 100%;

          tbody {
            tr {
              &:first-child {
                background-color: $light_grey;
              }
            }
          }
        }
      }
    }
  }
}
