@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import './colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: $text;
}
body {
  background-color: $bg;
}
button,
input,
select {
  background-color: unset;
  outline: 0;
  border: 0;
}
button {
  font-weight: 700;
  &:hover {
    cursor: pointer;
  }
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.btn-green {
  background-color: $btn_green;
  color: #fff;
}
.btn-dark {
  background-color: $btn_dark;
  color: #fff;
}
.btn-darker {
  background-color: $btn_darker;
  color: #fff;
}
.orange {
  color: $orange;
}
.text3 {
  color: $grey;
}
