@import './colors';

.welcome {
  width: 100%;
  .index-card {
    padding-top: 1rem;
    margin: 3.2rem auto;
    max-width: 500px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    h2,
    p {
      padding: 0.5rem 0;
    }
    h2 {
      font-size: 1.8rem;
      font-weight: 400;
    }
    p {
      font-size: 1.1rem;
    }
    button {
      font-weight: 700;
      width: 80%;
      padding: 1rem 0;
      margin: 1.5rem 0;
      color: #fff;
    }
  }
}
