@import '../mixin';
@import '../colors';

.names,
.more {
  @include flex($justify: space-between);
}

.number-box.input-box {
  label {
    div {
      margin-top: 9px;
      @include flex($justify: space-between);
      select {
        width: calc(20% - 10px);
        border-color: $grey_lines !important;
      }
      input {
        width: calc(80% - 10px);
      }
    }
    span{
      padding-left: calc(20% + 10px);
    }
  }
}
.extras {
  text-align: start;
  button {
    padding: 7px 0;
    font-size: 0.8rem;
    display: block;
    color: $grey;
  }
}
